h1 {
	color: white;
	margin-left: 800px;
	height: 62px;
	margin: 0;
	margin-bottom:0;
	margin-right:0;
	font-size: 150%;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
	
}

h2{
	margin: 0;
}

Body {
	background-color: white;
	margin: 0px;/*barra infinita*/
	color: black;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
	font-size: 1rem;
}

a:link {
	text-decoration: none; /*que no me salga las anclas subrayadas*/;
}

ul {
	list-style: none; /*quita los puntos del ul que tiene por defecto*/
	display: flex !important; /*los link salen en la misma fila*/
	margin-right: 8px;
	margin-left: 0px;
	margin: auto;/*creo que es el margen de arriba*/
}

li {
	list-style: none;
	margin-right: 28px;
	margin-left: 38px;
	text-transform: lowcase;
}

.navegador {
	font-family: Helvetica;
	background-color: #BFC9C9;
	width:100%;
	max-width:150%;
	margin: 0; /*centrado en  horizontal*/
	border: #F2F6F7 2px solid;
	
}

footer {
	background:  #BFC9C9;
	color: #6f777b;
	font-size: 13px;
	line-height: 2;
	padding: 5px 0 0;
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 40px;
	margin:0;
	}
	
	
	span.cc{
		color: blue;
	} 
	
	header#principal{
	
	   	background: #003580;
		height: 52px;
    }
	
	.cabecera{
	max-width: 1024px;
	margin: 0; /*centrado en  horizontal*/
	margin-left: 100px;
	}